<div>
  <!-- Header -->
  <div style="margin-bottom: 32px">
    <h2>Name: <%- fullname %></h2>
    <h2>Company: <%- company %></h2>
    <h2>Email: <%- email %></h2>
  </div>
  <!-- Main Content -->
  <p style="color: #222"><%- message %></p>
</div>