@use 'sass:color';

// Colors
$primary: #2e1f8b;
$dark: #080F2F;
$white: #fefeff;
$neutral-light: #e7e7f0;
$neutral-dark: #a29fb9;
$success: #0cae3a;
$error: #d51616;
$link-hover-color: color.scale($primary, $lightness: 75%);

// Breakpoints
// < 576px - Mobile
// 576px - 810px - Tablet
// 810px - 1400px Laptop
// > 1400px - Desktop
$mobile: 36rem;
$tablet: 50.625rem;
$desktop: 87.5rem;

// Button
$primary-button-active-shadow: inset 0.04rem 0.04rem 0.3rem $dark;
$primary-button-focus-shadow: 0 0 0 0.15rem $dark;
$secondary-button-active-shadow: inset 0.04rem 0.04rem 0.15rem $dark;
$secondary-button-focus-shadow: 0 0 0 0.15rem $dark;
$max-btn-width: 15rem;
