<section id='about'>
  <div class='wrapper'>
    <div class='container'>
      <div class='info'>
        <h2 class='lf-semibold'>About us</h2>
        <p class='sans-regular'>
          As someone with over 10 years of experience in finance, audit,
          strategy, and BI for large corporations, I’ve seen first-hand how
          small business owners struggle to access the guidance they deserve. My
          mission is simple: to bring high-level insights and strategic advice
          to small businesses at a fraction of the cost of traditional firms.
          I’m passionate about sharing what I’ve learned, because I know that
          with the right advice, your business can thrive—without breaking the
          bank.
        </p>
      </div>
      <!-- <div class='image'></div> -->
    </div>
  </div>
</section>

<style lang='scss'>
  @import '../../styles/variables.scss';

  section {
    background-color: $dark;
    color: $white;
  }

  h2 {
    border-bottom: 0.125rem solid $white;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 1.5rem;

    > :first-child p {
      margin-bottom: 1rem;
    }

    .image {
      border-radius: 0.5rem;
      width: 100%;
      max-width: 41.5rem;
      min-width: 20rem;
      min-height: 20rem;
      justify-self: center;
      align-self: center;
      background-image: url('../../images/henrique.jpg');
      background-size: cover;
      background-position: center;
      background-clip: padding-box;
    }
  }

  // Above tablet
  @media only screen and (min-width: $tablet) {
    .container {
      // display: grid;
      // grid-template-columns: 7fr 3fr;
      align-items: center;
      grid-gap: 2rem;

      > :first-child p {
        margin-bottom: 1rem;
      }

      .image {
        border-radius: 1rem;
        width: 20rem;
        height: 18.75rem;
      }
    }
  }
</style>
