---
import { Icon } from 'astro-icon/components';
import Input from '../common/Input.astro';
---

<section id='contact'>
  <div class='wrapper container'>
    <div class='left-section'>
      <div>
        <h2 class='lf-semibold'>Contact Us</h2>
        <div class='sans-regular'>
          <p>
            Leave your details and a short message and we’ll get back to you
            within 24 hours
          </p>
          <div class='contact'>
            <div class='info'>
              <Icon
                name='material-symbols:phone-enabled'
                width={24}
                height={24}
              />
              <span>+353 859664876</span>
            </div>
            <div class='info'>
              <Icon
                name='material-symbols:mail-rounded'
                width={24}
                height={24}
              />
              <span>henrique@elevequity.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <form action=''>
        <Input
          labelText='Full name'
          name='fullname'
          value=''
        />
        <Input
          labelText='Company name'
          name='company'
          value=''
        />
        <Input
          labelText='Email address'
          name='email'
          value=''
        />
        <Input
          labelText='Your message'
          name='message'
          value=''
          isTextarea
        />
      </form>
    </div>
  </div>
</section>

<style lang='scss'>
  @import '../../styles/variables.scss';

  section {
    background-color: $neutral-light;
    color: $dark;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-section {
    display: grid;

    p {
      max-width: 32rem;
      margin: 1rem 0;
    }

    .contact {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;

      div:first-child {
        margin-right: 1.5rem;
      }

      .info {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }

  // Above tablet
  @media only screen and (min-width: $tablet) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .left-section {
      display: grid;

      p {
        max-width: 20rem;
        margin: 2rem 0;
      }

      .contact {
        display: flex;
        flex-direction: column;

        .info {
          display: flex;
          align-items: center;

          &:first-child {
            margin-bottom: 1rem;
          }

          span {
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
</style>
