---
import { Icon } from 'astro-icon/components';

import Button from '../common/Button.astro';
// import { sendEmail } from '../../utils/email';
// console.log(Astro.request);
// console.log('Astro.response');
// console.log(Astro.response);
// console.log(Astro.requeset.method);
// if (Astro.request.method === 'POST') {
//   try {
//     const data = await Astro.request.formData();
//     const name = data.get('username');
//     const email = data.get('email');
//     const password = data.get('password');
//     // Do something with the data
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }

// console.log('Astro.request');
// console.log(Astro.request);

// if (Astro.request.method === 'POST') {
//   console.log('TWAS A POST');
//   // const data = await Astro.request.formData();
//   // const fullname = data.get('fullname') as string | null;
//   // const company = data.get('company') as string | null;
//   // const email = data.get('email') as string | null;
//   // const message = data.get('message') as string | null;

//   // try {
//   //   await sendEmail({
//   //     to: 'jamiesullivan523@gmail.com',
//   //     subject: `Inquiry from ${fullname} at ${company}`,
//   //     template: {
//   //       name: 'inquiry',
//   //       params: {
//   //         fullname,
//   //         company,
//   //         email,
//   //         message,
//   //       },
//   //     },
//   //   });
//   // } catch (error) {
//   //   throw new Error('Failed to send email');
//   // }
// }

// const cookies = Astro.cookies;
// cookies.delete('fullname');
// cookies.delete('company');
// cookies.delete('email');
// cookies.delete('message');
---

<section id='contact'>
  <div class='wrapper container'>
    <div class='left-section'>
      <div>
        <h2 class='lf-semibold'>Contact Us</h2>
        <div class='sans-regular'>
          <p>
            Leave your details and a short message and we’ll get back to you
            within 24 hours
          </p>
          <div class='contact'>
            <div class='info'>
              <Icon
                name='material-symbols:phone-enabled'
                width={24}
                height={24}
              />
              <span>+353 859664876</span>
            </div>
            <div class='info'>
              <Icon
                name='material-symbols:mail-rounded'
                width={24}
                height={24}
              />
              <span>henrique@elevequity.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <form
        id='contact-form'
        method='POST'
      >
        <div class='input'>
          <label for='fullname'>Full name</label>
          <input
            autocomplete='off'
            name='fullname'
            aria-label='fullname'
            value=''
            placeholder='Full name'
          />
        </div>
        <div class='input'>
          <label for='company'>Company name</label>
          <input
            autocomplete='off'
            name='company'
            aria-label='company'
            value=''
            placeholder='Company name'
          />
        </div>
        <div class='input'>
          <label for='email'>Email address</label>
          <input
            autocomplete='off'
            name='email'
            aria-label='email'
            value=''
            placeholder='Email address'
          />
        </div>
        <div class='input'>
          <label for='message'>Your message</label>
          <input
            autocomplete='off'
            name='message'
            aria-label='message'
            value=''
            placeholder='Your message'
          />
        </div>
        <div class='btn-container'>
          <Button
            className='submit'
            text='Submit'
          />
        </div>
      </form>
    </div>
  </div>
</section>

<style lang='scss'>
  @import '../../styles/variables.scss';

  section {
    background-color: $neutral-light;
    color: $dark;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-section {
    display: grid;

    p {
      max-width: 32rem;
      margin: 1rem 0;
    }

    .contact {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;

      div:first-child {
        margin-right: 1.5rem;
      }

      .info {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .input {
      display: flex;
      flex-direction: column;

      label {
        display: none;
      }
    }

    input,
    textarea {
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 0.08rem solid $dark;
      border-radius: 0.5rem;
      padding: 1rem 0.75rem;

      &::placeholder {
        color: $neutral-dark;
        font-style: italic;
      }

      &::-ms-input-placeholder {
        color: $neutral-dark;
        font-style: italic;
      }

      &:focus,
      &:focus-visible,
      &:active {
        outline: $primary solid 0.1rem;
        border-color: $primary;
      }
    }

    textarea {
      min-height: 12.5rem;
    }

    .btn-container {
      width: 100%;
    }
  }

  // Above mobile
  @media only screen and (min-width: $mobile) {
    form {
      .btn-container {
        align-self: flex-end;
        width: max-content;
      }
    }
  }

  // Above tablet
  @media only screen and (min-width: $tablet) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .left-section {
      display: grid;

      p {
        max-width: 20rem;
        margin: 2rem 0;
      }

      .contact {
        display: flex;
        flex-direction: column;

        .info {
          display: flex;
          align-items: center;

          &:first-child {
            margin-bottom: 1rem;
          }

          span {
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
</style>

<script>
  const form = document.getElementById('contact-form');

  console.log(form);

  form.addEventListener('submit', (e) => {
    e.preventDefault();
  });
</script>
