---
import Button from '../common/Button.astro';
---

<section>
  <div class='wrapper'>
    <span class='sans-medium'>
      Grow your <strong><em>equity</em></strong> and make your business thrive</span
    >
    <div class='btn-container'>
      <Button
        className='cta'
        text='Contact Us'
        variant='secondary'
      />
    </div>
  </div>
</section>

<style lang='scss'>
  @import '../../styles/variables.scss';

  section {
    background-color: $primary;
    color: $white;
    padding: 1.5rem 0;
    text-align: center;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  .btn-container {
    margin-top: 1.5rem;
  }

  // Above tablet
  @media only screen and (min-width: $tablet) {
    section > div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .btn-container {
      margin-top: 0;
    }
  }
</style>
