---
import Button from '../common/Button.astro';
---

<section>
  <div class='wrapper'>
    <span class='sans-medium'>
      Empower your <i><strong>business</strong></i>&nbsp; with expert guidance
      and affordable solutions
    </span>
    <div class='btn-container'>
      <Button
        className='cta'
        text='Contact'
        variant='secondary'
        label='contact button'
      />
    </div>
  </div>
</section>

<style lang='scss'>
  @import '../../styles/variables.scss';

  section {
    background-color: $primary;
    color: $white;
    padding: 1.5rem 0;
    text-align: center;

    span {
      margin-right: 0;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  .btn-container {
    width: 100%;
    max-width: $max-btn-width;
    margin-top: 1.5rem;
  }

  // Above mobile
  @media only screen and (min-width: $mobile) {
    section > div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      span {
        margin-right: 1rem;
      }
    }

    .btn-container {
      width: max-content;
      margin-top: 0;
    }
  }
</style>
