---
import { Image } from 'astro:assets';
import logo from '../../images/hsn-logo-text.svg';
import { Icon } from 'astro-icon/components';

interface Props {
  links: string[];
}

const { links } = Astro.props;
---

<footer>
  <section class='wrapper'>
    <div class='top'>
      <a
        class='logo'
        href='#'
        aria-label='logo link'
      >
        <Image
          src={logo}
          alt='Logo'
          width='220'
          height='72'
        />
      </a>
      <div class='caption sans-medium'>
        Unlock big <strong><i>business </i></strong>expertise<br />designed for
        small businesses
      </div>
      <ul>
        {
          links.map((link: string) => (
            <li>
              <button
                class='lf-medium nav-link'
                aria-label={`nav link ${link}`}
                type='button'
              >
                {link}
              </button>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <div class='separator'>
    <div class='line'></div>
  </div>
  <div class='bottom'>
    <div class='social'>
      <a
        href='https://linkedin.com'
        aria-label='linkedin link'
      >
        <Icon
          name='fa6-brands:linkedin'
          width={36}
          height={36}
        />
      </a>
      <a
        href='https://instagram.com'
        aria-label='instagram link'
      >
        <Icon
          name='fa6-brands:instagram'
          width={36}
          height={36}
        />
      </a>
    </div>
    <div class='copyright sans-regular'>
      <span>
        <Icon name='material-symbols:copyright-outline-rounded' />
      </span>
      <span>2024</span>
      <span
        ><a
          target='_blank'
          aria-label='jamie sullivan software link'
          href='https://jamiesullivansoftware.com'
          >jamiesullivansoftware.com</a
        ></span
      >
    </div>
  </div>
</footer>

<style lang='scss'>
  @use 'sass:color';
  @import '../../styles/variables.scss';

  footer {
    background-color: $dark;
    color: $white;
  }

  .top {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    justify-items: center;

    .logo {
      order: 2;
    }

    .caption {
      text-align: center;
      order: 3;
      min-width: 20.625rem;
    }

    ul {
      order: 1;
      list-style: none;
      text-align: center;

      li:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    a {
      cursor: pointer;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $link-hover-color;
      }
    }

    .nav-link {
      background: none;
      border: 0;
      cursor: pointer;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    width: 100%;

    .line {
      margin: 0 3rem;
      max-width: 80rem;
      width: 100%;
      border-bottom: 0.125rem solid $white;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 4rem;

    a {
      color: $white;

      &:hover {
        color: $link-hover-color;
      }
    }

    .social {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
      margin: 4rem 0 2rem;
    }

    .copyright {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      align-items: center;
      grid-gap: 0.5rem;

      span:first-child {
        display: flex;
      }
    }
  }

  // Above tablet
  @media only screen and (min-width: $tablet) {
    .top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;

      .logo {
        justify-self: flex-start;
        order: 1;
      }

      div {
        order: 2;
      }

      ul {
        text-align: right;
        order: 3;
        justify-self: flex-end;

        li:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
</style>
