---
import desktopImage from '../../images/hero-desktop.webp';
import tabletImage from '../../images/hero-tablet.webp';
import mobileImage from '../../images/hero-mobile.webp';
import fallbackImage from '../../images/hero.jpg';
import Button from '../common/Button.astro';

import PictureImage from '../common/PictureImage.astro';
---

<div class='background-container'>
  <PictureImage
    mobileImgUrl={mobileImage}
    tabletImgUrl={tabletImage}
    desktopImgUrl={desktopImage}
    fallbackImgUrl={fallbackImage}
  />
  <div class='container wrapper'>
    <h1 class='lf-semibold'>Business Consulting & Advisory Services</h1>
    <div class='btn-container'>
      <Button
        className='cta'
        text='Free Consultation'
        label='free consultation button'
      />
    </div>
  </div>
</div>

<style lang='scss'>
  @import '../../styles/variables.scss';

  .background-container {
    height: 22rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $dark;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  picture {
    min-width: 100%;
    min-height: 100%;
  }

  .container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $white;
    max-width: 26.25rem;

    h1 {
      margin-bottom: 1.5rem;
    }
  }

  .btn-container {
    width: 100%;
    max-width: $max-btn-width;
  }

  // Above mobile
  @media only screen and (min-width: $mobile) {
    .container {
      h1 {
        margin-bottom: 2rem;
      }
    }

    .background-container {
      height: 33.75rem;
    }

    .btn-container {
      width: max-content;
    }
  }

  // Above tablet
  @media only screen and (min-width: $tablet) {
    .container {
      h1 {
        margin-bottom: 3rem;
      }
    }

    .background-container {
      height: 38rem;
    }
  }
</style>
