<section class='wrapper'>
  <h2 class='lf-semibold'>How We Work</h2>
  <div class='guide'>
    <div class='line'></div>
    <div class='numbers sans-regular'>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
    </div>
  </div>
  <div class='container'>
    <div>
      <h3 class='sans-medium'>Initial Phone Call</h3>
      <p class='sans-regular'>
        Initial Phone Call Our process begins with an initial phone call to
        understand your business needs and objectives. This brief conversation
        helps us gather essential information and determine how we can best
        support your goals.
      </p>
    </div>
    <div>
      <h3 class='sans-medium'>Video Consultation</h3>
      <p class='sans-regular'>
        Next, we conduct a detailed video call consultation. During this
        session, we dive deeper into your business operations, challenges, and
        opportunities, allowing us to tailor our services to your specific
        requirements.
      </p>
    </div>
    <div>
      <h3 class='sans-medium'>Financial Plan</h3>
      <p class='sans-regular'>
        Following the consultation, we develop a comprehensive financial plan.
        This plan includes budgeting, forecasting, market analysis, and
        strategic recommendations designed to drive your business toward its
        goals.
      </p>
    </div>
    <div>
      <h3 class='sans-medium'>Implement & Grow</h3>
      <p class='sans-regular'>
        Finally, we assist in implementing the financial plan, providing ongoing
        support and adjustments as needed. Our goal is to help your business
        grow efficiently and sustainably, leveraging our expertise to ensure
        long-term success.
      </p>
    </div>
  </div>
</section>

<style lang='scss'>
  @import '../../styles/variables.scss';

  section {
    background-color: $neutral-light;
    color: $dark;
  }

  h2 {
    text-align: center;
  }

  .guide {
    position: relative;
    margin: 3rem 6rem 2.5rem;

    .line {
      border-bottom: 0.125rem solid $dark;
    }

    .numbers {
      bottom: -1.25rem;
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.125rem solid $dark;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $white;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    h3 {
      margin-bottom: 1rem;
    }
  }
</style>
