---
import Step from '../common/Step.astro';
---

<section id='process'>
  <div class='wrapper'>
    <h2 class='lf-semibold'>Our approach</h2>
    <div class='container'>
      <Step
        num='1'
        heading='Connect and Understand'
        text='I prioritise building relationships, not charging fees. Our first meeting is free - a conversation to uncover your business challenges and goals, with a focus on what truly matters to you.'
      />
      <Step
        num='2'
        heading='Tailored Advisory'
        text='We’ll dive deeper together to uncover actionable steps that drive real results. Whether it’s financial analysis, operational efficiency, or strategic planning, we apply proven corporate methodologies scaled for small businesses.'
      />
      <Step
        num='3'
        heading='Clear, Actionable Plan'
        text='No complicated jargon, just a straightforward roadmap for success. You’ll receive a customised plan that you can easily implement.'
      />
      <Step
        num='4'
        heading='Ongoing Support'
        text='I’ll be with you every step of the way. From plan implementation to ongoing growth strategies, I provide continuous support to help you navigate challenges and opportunities.'
      />
    </div>
  </div>
</section>

<style lang='scss'>
  @import '../../styles/variables.scss';

  section {
    background-color: $neutral-light;
    color: $dark;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.75rem;
  }

  .container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-bottom: 2rem;
  }

  // Above tablet
  @media only screen and (min-width: $desktop) {
    h2 {
      margin-bottom: 3rem;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
</style>
