---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Nav
      links={[
        { text: 'Services', href: 'test' },
        { text: 'About', href: 'test' },
        { text: 'Process', href: 'test' },
        { text: 'Contact', href: 'test' },
      ]}
    />
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-bottom: 1em;
    color: var(--dark);
  }

  p {
    max-width: 500px;
    color: var(--dark);
    text-align: left;
    margin: auto;
  }
</style>
