---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/sections/Nav.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import About from '../components/sections/About.astro';
import CTA from '../components/sections/CTA.astro';
import Process from '../components/sections/Process.astro';
import FAQ from '../components/sections/FAQ.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
import Toast from '../components/common/Toast.astro';

const links = ['Services', 'About', 'Process', 'FAQ', 'Contact'];

const cookies = Astro.cookies;
const status = (cookies.get('status') || {})?.value;

if (status) {
  cookies.delete('status');
}
---

<Layout title='Elev Equity'>
  <main>
    {status && <Toast status={status} />}
    <Nav links={links} />
    <Hero />
    <Services />
    <About />
    <CTA />
    <Process />
    <FAQ />
    <Contact />
    <Footer links={links} />
  </main>
</Layout>
