---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1 class='lf-bolditalic'>ELEV EQUITY</h1>
    <h1 class='lf-semibold'>ELEV EQUITY</h1>
    <h1 class='lf-medium'>ELEV EQUITY</h1>
    <p class='sans-regular'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
      possimus quis similique maiores animi, hic velit facilis doloremque
      adipisci nesciunt alias eligendi! Aperiam, magni cum! Hic ducimus maiores
      itaque delectus.
    </p>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-bottom: 1em;
    color: var(--dark);
  }

  p {
    max-width: 500px;
    color: var(--dark);
    text-align: left;
    margin: auto;
  }
</style>
