---
import Button from './Button.astro';
---

<div class='hero-image'>
  <div class='hero-text'>
    <h1 class='lf-semibold'>Business Consulting & Advisory Services</h1>
    <Button
      className='cta'
      text='Free Consultation'
      onClick={() => console.log('click')}
    />
  </div>
</div>

<style lang='scss'>
  @import '../styles/variables.scss';

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41.5rem;
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    color: $white;
    max-width: 27.5rem;

    h1 {
      margin-bottom: 2rem;
    }
  }
</style>
