---
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';

interface Link {
  text: string;
  href: string;
}

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<nav>
  <div class='wrapper'>
    <a href='#'>
      <img
        src='/Logo.svg'
        alt=''
      />
      <Image
        src={logo}
        alt='Logo'
        width='60'
        height='50'
      />
    </a>
    <ul>
      {
        links.map((link: Link) => (
          <li>
            <a
              class='lf-medium'
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  nav {
    background-color: var(--dark);
    padding: 1rem 0rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-gap: 1rem;
    list-style: none;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }

  a:hover {
    color: var(--neutral-dark);
  }
</style>
