---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span class='sans-regular'>{label}</span>

<style lang='scss'>
  @import '../../styles/variables.scss';

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid $dark;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $white;
  }
</style>
